div#callscript_content {
    text-align: left;
    overflow-y: auto;
    height: 90%;
    background-color: whitesmoke;
    padding: 5px 10px 0 10px;
}

div#callscript_bottom {
    background-color: #cccccc;
    width: 100%;
    padding-top: 2px;
}

#pagination {
    padding: 5px;
}

div#right_content {
    float: right;
    width: 53%;
    padding: 5px;
    height: 99%;
    overflow-y: auto;
}

div#left_content {
    float: left;
    width: 45%;
    padding: 5px;
    height: 99%;
}

div#left_top_content {
    width: 100%;
    height: 95%;
}

div#callscript_container {
    height: 98%;
    margin-top: 8px;
    padding: 5px 6px 5px 5px
}

#auto_scroll_slider {
    width: 200px;
    margin: 4px;
    display: inline-block;
}

#auto_scroll_slider .ui-slider-range {
    background: #3f6a8c;
}

#auto_scroll_slider .ui-slider-handle {
    border-color: #3f6a8c;
}

#auto_scroll_settings {
    float: right;
    width: 50%;
}

#user_settings_container {
    float: right;
    width: 50%;
}

.auto_scroll_button {
    border-radius: 5px !important;
    height: 20px !important;;
    padding: 0 !important;;
}

#auto_call_content {
    background: white;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}

.disabled, .disabled:hover {
    cursor: not-allowed;
    background: #9c9c9c;
}

.collapsible > div {
    display: none;
}

.dialer_custom_button {
    margin: 2px 0 0 0;
    float: right;
    padding: 2px;
    height: 15px;
    line-height: 15px;
}

#cl_timestamp > div {
    display: inline-block;
}
