#pagination {
    display: inline-block;
    padding: 5px;
}

.paginate, .current, .inactive {
    padding: 6px;
    border-radius: 3px;
}

.extra_button, .inactive {
    border-radius: 7px;
}

.current {
    color: white;
    background: #7b9cbd;
    background: -moz-linear-gradient(top, #7b9cbd 0%, #5982ac 50%, #336699 51%, #7b9cbd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b9cbd), color-stop(50%, #5982ac), color-stop(51%, #336699), color-stop(100%, #7b9cbd));
    background: -webkit-linear-gradient(top, #7b9cbd 0%, #5982ac 50%, #336699 51%, #7b9cbd 100%);
    background: -o-linear-gradient(top, #7b9cbd 0%, #5982ac 50%, #336699 51%, #7b9cbd 100%);
    background: -ms-linear-gradient(top, #7b9cbd 0%, #5982ac 50%, #336699 51%, #7b9cbd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b9cbd', endColorstr='#7b9cbd', GradientType=0);
    background: linear-gradient(top, #7b9cbd 0%, #5982ac 50%, #336699 51%, #7b9cbd 100%);
}

.extra_button {
    color: white;
    background: #226622;
    background: -moz-linear-gradient(top, #709c70 0%, #4d844d 49%, #226622 51%, #649464 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #709c70), color-stop(49%, #4d844d), color-stop(51%, #226622), color-stop(100%, #649464));
    background: -webkit-linear-gradient(top, #709c70 0%, #4d844d 49%, #226622 51%, #649464 100%);
    background: -o-linear-gradient(top, #709c70 0%, #4d844d 49%, #226622 51%, #649464 100%);
    background: -ms-linear-gradient(top, #709c70 0%, #4d844d 49%, #226622 51%, #649464 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35b135', endColorstr='#2d602d', GradientType=0);
    background: linear-gradient(top, #709c70 0%, #4d844d 49%, #226622 51%, #649464 100%);
}

.current:hover, .extra_button:hover {
    color: white;
}

.inactive {
    top: -20px;
    color: white;
    background: #b2b2b2;
    background: -moz-linear-gradient(top, #b2b2b2 0%, #9b9b9b 49%, #7c7c7c 51%, #a8a8a8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2b2b2), color-stop(49%, #9b9b9b), color-stop(51%, #7c7c7c), color-stop(100%, #a8a8a8));
    background: -webkit-linear-gradient(top, #b2b2b2 0%, #9b9b9b 49%, #7c7c7c 51%, #a8a8a8 100%);
    background: -o-linear-gradient(top, #b2b2b2 0%, #9b9b9b 49%, #7c7c7c 51%, #a8a8a8 100%);
    background: -ms-linear-gradient(top, #b2b2b2 0%, #9b9b9b 49%, #7c7c7c 51%, #a8a8a8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2b2b2', endColorstr='#7c7c7c', GradientType=0);
    background: linear-gradient(top, #b2b2b2 0%, #9b9b9b 49%, #7c7c7c 51%, #a8a8a8 100%);
}
